#tv {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	height: 100%;
	width: 100%;
	z-index: -1;
}
div img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 50%;
}
.center {
	display: inline-block;
	width: 100%;
	height: 33%;
	padding: 0;
	margin: 0;
}

#nlovell {
	bottom: 4.5%;
	font-size: 2.5vmin;
}

.footerText {
	/*uwu its me, ya boi*/
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2%;
	text-align: center;
	margin: auto;
	color: #D1D0CB;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5vmin;
}

a:visited {
	color: #D1D0CB;
}

.drive {
	opacity: 0.9;
	position: absolute;
	left: 0;
	right: 0;
	top: 2%;
	text-align: center;
	margin: auto;
	height: 3.5%;
}
* {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  { 
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {  
    transform: scale( .75 );
  }
  100%
  {   
    transform: scale( .75 );
  }
}

.pulse
{
	animation: heartbeat 1s infinite;
	position: fixed; /* or absolute */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
  }
  
  
  .flip-box {
  background-color: transparent;
  width: 70vmin;
  height: calc((70vmin/85) *55);
  perspective: 100vmin;
  	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(-180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(-180deg);
}
